
<tr >   <!--class="oneEmployeeTr"-->
    <td class=name-column"><input class="align-left" type="text" ng-model="employee.name" placeholder="Name"  required ></td>
    <td><input class="align-left" type="text" ng-model="employee.classification" placeholder="cli" required></td>
    <td><input type="number" ng-model="employee.normalTime.hrs "  min="0" required></td>   <!-- watch-directive index="index" employee="employee"-->
    <td><input type="number" ng-model="employee.normalTime.rate" min="0" required></td>
    <td>{{employee.normalAmount}}</td>
    <td><input type="number" ng-model="employee.doubleTime.hrs" min="0" required></td>
    <td><input type="number" ng-model="employee.doubleTime.rate" min="0" required></td>
    <td>{{employee.doubleAmount}}</td>
    <td><input type="number"  ng-model="employee.perDiem" min="0" value=0 required></td><td>
        <div class="rightElInEmployee">
            {{employee.totalCost}}
            <div ng-click="delEmployee(index)" class="minusButton">&mdash;</div>
        </div>
    </td>
</tr>
